In [5]:
import pandas as pd

In [8]:
print(pd.__version__)

0.24.2

In [9]:
import numpy as ns

In [12]:
df = pd.read_csv('iris.csv')

In [13]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
to_drop = ['species']

In [16]:
df.drop(to_drop, inplace=True, axis=1)

In [17]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [33]:
#df.drop(colums=to_drop, inplace=True)

In [20]:
#df['Identifier'].is_unique

In [21]:
#df = df.set_index('Identifier')
#df.head()

In [22]:
df.loc[50]

sepal_length    7.0
sepal_width     3.2
petal_length    4.7
petal_width     1.4
Name: 50, dtype: float64

In [23]:
#df.set_index('Identifier', inplace=True)

In [24]:
df.dtypes.value_counts()

float64    4
dtype: int64

In [25]:
df.loc[5:, 'sepal_length'].head(10)

5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
Name: sepal_length, dtype: float64

In [26]:
#regex = r'^(\d{4})'

In [27]:
#extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
#extr.head()

In [28]:
#df['Date of Publication'] = pd.to_numeric(extr)
#df['Date of Publication'].dtype

In [31]:
#df['Date of Publication'].isnull().sum() / len(df)

In [34]:
#np.where(condition, then, else)

In [35]:
#np.where(condition1, x1, 
        #np.where(condition2, x2, 
            #np.where(condition3, x3, ...)))

In [36]:
df['sepal_width'].head(10)

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
5    3.9
6    3.4
7    3.4
8    2.9
9    3.1
Name: sepal_width, dtype: float64

In [37]:
df.loc[19]

sepal_length    5.1
sepal_width     3.8
petal_length    1.5
petal_width     0.3
Name: 19, dtype: float64

In [38]:
df.loc[25]

sepal_length    5.0
sepal_width     3.0
petal_length    1.6
petal_width     0.2
Name: 25, dtype: float64

In [39]:
olympics_df = pd.read_csv("iris.csv")
olympics_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [40]:
olympics_df = pd.read_csv("iris.csv", header=0)
olympics_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [41]:
new_names =  {'sepal_length': 'Length',
               'sepal_width': 'Width',
               'petal_length' : 'pLength',
               'petal_width' : 'pWidth'}

In [42]:
olympics_df.rename(columns=new_names, inplace=True)

In [43]:
olympics_df.head()

   Length  Width  pLength  pWidth species
0     5.1    3.5      1.4     0.2  setosa
1     4.9    3.0      1.4     0.2  setosa
2     4.7    3.2      1.3     0.2  setosa
3     4.6    3.1      1.5     0.2  setosa
4     5.0    3.6      1.4     0.2  setosa

In [44]:
olympics_df.size

750